@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$font-family: 'Open Sans', sans-serif;

$body-bg: #141a30;
$body-bg-hover: #0091E7;

body {
	background: $body-bg;
	margin: 0;
	z-index: 0;
}

.flex_group {
	background-color: #fefefe;
	border: none;
	border-width: 0;
	border-radius: 6px;
	box-shadow: 0 0 0.3rem 0.001rem #999;
	display: flex;
	flex-direction: column;
	font-family: $font-family;
	margin: 1rem;
	padding: 40px 40px 40px 40px;

	h1 {
		margin: 0;
		padding: 0.6rem 0 0.2rem 0;
	}

	h3 {
		margin: 0;
		padding: 0;
	}

	.block_group {
		display: block;
	}
	.flex_group {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	input[type=text], input[type=number], input[type=email], input[type=password] {
		flex: 3;
		font-size: 14px;
		margin: 0.4rem 0 1rem 0;
		padding: 14px 8px;
	}
	input[type=checkbox] {
		margin: 0 0.7rem 0 0.4rem;
	}

	label {
		flex: 1;
	}
}

.canvas_group {
	background-color: #fefefe;
	border: none;
	border-width: 0;
	border-radius: 6px;
	box-shadow: 0 0 0.3rem 0.001rem #999;
	font-family: $font-family;
	margin: 1rem;
	padding: 40px 40px 40px 40px;
}

.dark-btn {
	background-color: #7b32fa;
	border-radius: 0.4rem;
	border-width: 0px;
	box-shadow: 0 0 0.1rem 0.0001rem #999;
	color: #f0f0f0;
	letter-spacing: 3px;
	margin: 0 0.4rem;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		background-color: #9e66ff;
		box-shadow: 0 0 0.3rem 0.01rem #999;
	}
	&:visited {
		color: #f0f0f0;
	}
}

.play-btn {
	background-color: #04e060;
	border-radius: 0.4rem;
	border-width: 0px;
	box-shadow: 0 0 0.1rem 0.0001rem #999;
	color: #000;
	margin: 0 0.4rem;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		background-color: #5ff59e;
		box-shadow: 0 0 0.3rem 0.01rem #999;
	}
	&:visited {
		color: #f0f0f0;
	}
}

.create-btn {
	background-color: #ffb238;
	border-radius: 0.4rem;
	border-width: 0px;
	box-shadow: 0 0 0.1rem 0.0001rem #999;
	color: #000;
	margin: 0 0.4rem;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		background-color: #ffc466;
		box-shadow: 0 0 0.3rem 0.01rem #999;
	}
	&:visited {
		color: #f0f0f0;
	}
}

.randomize-btn {
	background-color: #aaa;
	border-radius: 0.4rem;
	border-width: 0px;
	box-shadow: 0 0 0.1rem 0.0001rem #999;
	color: #000;
	margin: 0 0.4rem;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	transition: 0.3s;
	&:hover {
		background-color: #ddd;
		box-shadow: 0 0 0.3rem 0.01rem #999;
	}
}
